body {
    font-family: Arial, Helvetica, sans-serif;
}

table , td, th {
    border:1px solid #222;
    border-collapse: collapse;
}

td, th {
    padding:0.5rem;
}

tr:nth-of-type(odd) {
    background-color: #efefef;
}

th {
    background: rgba(0,0,0,0.1);
}