.navbar-brand svg {
    /* LOGO DENTRO LA NAVBAR */

    height: 3rem;
    width: auto;

}

.header-wrapper {
    transition: all 0.5s ease-in-out;
}
.header-wrapper.scrolled {
    background:white;
}

/*SEI STUFO DEL BORDER-RADIUS? Fallo secco così! */
/* * {
    border-radius: 0 !important;
} */

#hero {

    height: 100vh;
    /*PER IL BACKGROUND FULL SCREEN CENTRATO: */
    background-image: url('../images/hero_mobile.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text {
    margin-top: 6rem;
}

/* SLIDER ALTERNATIVO */

.slide-wrapper {
    position: relative;


}

.slide-text {
    position: absolute;
    left: 0;
    bottom: 3rem;
   
}

.textwrapper {
    width: 100%;
}

.slide-wrapper:after {
    content:'';
    display: block;
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
  
    background: rgb(255,255,255);
background: linear-gradient(79deg, rgba(255,255,255,0.9150253851540616) 0%, rgba(255,255,255,0) 100%);
    backdrop-filter: blur(10px);
} 

.spacer {
    height: 400px;
    background-image: url('../images/spacer-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

/* .footer-title {
    border-bottom: 1px solid #666;
} */


#main-footer .footer-text ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

#main-footer a {
    text-decoration: none;
    color: var(--text-secondary);
}


#banner {
    background-image: url('../images/banner.jpg');
    /* se vogliamo creare un colore sovrapposto su immagine */
    /* background-color: rgb(109, 10, 151);
    background-blend-mode: multiply; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: 25vh;

    /* per pseudo elemento interno*/

    position: relative;
}

#banner:after {
    content:'';
   
    display: block;
    width: 100%;
    height: 100%;

    
    position: absolute;
    top:0;
    
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.9150253851540616) 21%, rgba(255,255,255,0) 100%);
    
}

.page-title {
    z-index:1;
    position: relative;
}

.video-wrapper {

    position: relative;

}

.video-wrapper:after {
    content:'';
    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: radial-gradient(circle,rgba(0,0,0,0.3603816527) 0%,rgba(0,0,0,0.808) 100%),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NkYGD4z8DAwAijQQwQgAvCZXCqAAAEwQgDLHxvPQAAAABJRU5ErkJggg==)
   
  
}

/* -------------------------------------------------------------------------- */
/*                              MEDIA QUERIES BS                              */
/* -------------------------------------------------------------------------- */

/* BREAKPOINT SM */
@media (min-width: 576px) { 


 }

 /*BREAKPOINT MD */
@media (min-width: 768px) { 


 }

 /* BREAKPOINT LG */
@media (min-width: 992px) { 

    #hero {
        background-image: url('../images/hero_desktop.jpg');
    }

    .hero-text {
        margin-top: 0;
    }

    .slide-text {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
    }

    .textwrapper {
        width: 50%;
    }


.slide-wrapper:after {
    content:'';
    display: block;
    position: absolute;

    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
  
    background: rgb(255,255,255);
background: linear-gradient(79deg, rgba(255,255,255,0.9150253851540616) 0%, rgba(255,255,255,0) 100%);
    backdrop-filter: blur(10px);
} 


    #banner {
        height: 35vh;
    }

 }

 /* BREAKPOINT XL */
@media (min-width: 1200px) { 


 }

 /* BREAKPOINT XXL */
@media (min-width: 1400px) { 


 }