.navbar-brand svg {
    /* LOGO DENTRO LA NAVBAR */

    height: 3rem;
    width: auto;

}

/*SEI STUFO DEL BORDER-RADIUS? Fallo secco così! */
/* * {
    border-radius: 0 !important;
} */

#hero {

    height: 100vh;
    /*PER IL BACKGROUND FULL SCREEN CENTRATO: */
    background-image: url('../images/hero_mobile.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text {
    margin-top: 6rem;
}

.spacer {
    height: 400px;
    background-image: url('../images/spacer-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    background-attachment: fixed;
}


/* -------------------------------------------------------------------------- */
/*                              MEDIA QUERIES BS                              */
/* -------------------------------------------------------------------------- */

/* BREAKPOINT SM */
@media (min-width: 576px) { 


 }

 /*BREAKPOINT MD */
@media (min-width: 768px) { 


 }

 /* BREAKPOINT LG */
@media (min-width: 992px) { 

    #hero {
        background-image: url('../images/hero_desktop.jpg');
    }

    .hero-text {
        margin-top: 0;
    }

 }

 /* BREAKPOINT XL */
@media (min-width: 1200px) { 


 }

 /* BREAKPOINT XXL */
@media (min-width: 1400px) { 


 }