//Mixin per creare un gradient che prende 3 parametri: colore di partenza, colore di arrivo
//e direzione della sfumatura. Il terzo parametro ha un default. 

@mixin myGradient($from, $to, $direction:0deg) {

background: $from; //fallback se il gradient non fosse supportato;
background: linear-gradient($direction, $from 0%, $to 100%);

} 


/* -------------------------------------------------------------------------- */
/*                          ESEMPIO MIXIN PER BOTTONE                         */
/* -------------------------------------------------------------------------- */

//NOTA: per usare le variabili di _variables dobbiamo includere _variables prima di _mixins

@mixin myButton($bgColor,$textColor,$outline:false) {

    background-color:$bgColor;
    color:$textColor;

    padding:$spacer/2 $spacer*1.5; //variabile $spacer=1rem;
    
    border-radius:10px;
    text-decoration: none;

    &:hover {
        background-color: darken($bgColor,5%);
    }

    @if $outline==true {

        background-color: transparent;
        border:1px solid $bgColor;

        &:hover {
            background-color:transparentize($bgColor,0.5);
            color:invert($bgColor,100%);
        }

    }


}