//https://www.html.it/guide/guida-sass/
//https://sass-lang.com/documentation/
//https://www.w3schools.com/sass/default.php

@import 'normalize';
@import 'variables';


body {
    background-color:#222;
    color:white;
    // font-family: 'Comic Sans MS', cursive;

    font-family: $font-serif;
}

h1,h2,h3 {
    //se dichiaro una variabile nel selettore, lo scope della variabile è ristretto al selettore 
   // $secondary-color: green; 

    font-family: $font-sans;
    color:$secondary-color;



}


.mainMenu {
    padding-top:1rem;
    padding-bottom: 1rem;

    ul {
        display: flex;
        list-style-type: none;
        gap: 1rem;

        li {
            background:#333;
            padding:0.25rem 0.5rem;

            a {

                color: $primary-color;   
                
                &:hover {
                    color:#ffff00;
                }

                &.active {
                    color: $secondary-color;
                }
            }

            

          
        }

    }

}

p {
    margin-bottom: $spacer;
}

h2 {
    margin-bottom: $spacer*2;
    @extend .box;

}

.my-link {
    color: darken($primary-color,25%); //scurisce un colore del 25%
    color: lighten($primary-color, 15%); //scurisce un colore del 25%
    color: desaturate($secondary-color, 50%); //toglie saturazione;

}

.box {
    background-color: transparentize($primary-color,0.5);
    //il secondo valore è da 0 a 1, dove 1=totalmente trasparente.
    color:$secondary-color ; 
    //l'operazione contraria si fa con opacify 

   
    width: 50%;

    // MEDIA QUERIES: posso integrarle dentro un selettore.

    @media screen and (min-width:780px) {

        width: 100%;
        
    }

    @media screen and (min-width: 1000px) {
        background-color: blue;
    }
}



